.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th {
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
    color: #FFF;
}

.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}

@media(max-width:480px){
    h1 {
        width: 100vw;
    }
    thead{
        background-color: var(--primary-color);
    }
    .records{
        display: inline-block;
        width: 100vw;
        overflow: scroll;
        margin-top: 80px;
    }
    
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records tr th{
        font-size: 1rem;
        text-align: center;
    }
    
    .records td:not(:first-child){  
        padding: 0 20px;
    }
    .records th, td{
        margin: 10px 0;
        padding: 0 10px;
    }
 
}
/*
@media(max-width:480px){
    table{
        border: solid green;
    }
    .records{
        border-spacing: 5px;
        border: solid;
    }
    .records thead{
        display: inline-block;
        margin-top: 20px 0;
        border: solid;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
        border: solid;
       
    }
    .records td:not(:first-child){
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border: solid;
    }
    .records td{
        margin: 10px 0;
        border: solid;
    }
    .records tr:hover{
        background-color: inherit;
        border: solid;
    }
}
*/